# Prueba con 300 000 datos- Clasificacion

In [8]:
import time
import pandas as pd
import numpy as np
import pymysql

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeClassifier


from generadorRFM import setRFM

In [12]:
host='localhost'
db='RFM_Generator'
user_db='root'
pass_db=''
table='rfm_unifin2'

try:
    conn=pymysql.connect(host=host, user=user_db, passwd=pass_db, db=db)

    cur=conn.cursor()

    query="SELECT Recencia,Tickets,Monto,R,F,M,Categoria FROM "+table+";"

    cur.execute(query)

    res = cur.fetchall()

    cur.close()

    conn.close()

except pymysql.Error as e:
    print ("Error %d: %s" % (e.args[0], e.args[1]))

else:
    if(len(res)==0):
        print ("No hay registros para iniciar el proceso.")
    else:
        headers=['Recencia','Tickets','Monto','R','F','M','Categoria']
        recencia=headers[0]

        dataset_dummy={}
        filas=0

        for h in headers:
            dataset_dummy[h]=[]

        for r in res:
            filas+=1
            for i in range(len(headers)):
                dataset_dummy[headers[i]].append(r[i])

        print('El numero de filas de este dataset es de:'+str(filas))

        dataset=pd.DataFrame(dataset_dummy)

        dataset[recencia]=dataset[recencia].astype(str).str.replace('\D', '')
        dataset[recencia]=dataset[recencia].astype(str).astype(int)

El numero de filas de este dataset es de:311934

In [13]:
dataset.head()

         Recencia  Tickets  Monto  R  F  M Categoria
0  20130818022547      204  24.47  3  2  2     plata
1  20131221180047      168  83.55  4  2  5       oro
2  20131021072703      385  23.09  4  4  2     plata
3  20130112014342      273  91.73  1  3  5       oro
4  20130923090706      300  14.70  3  3  1    bronce

In [14]:
train,test=train_test_split(dataset,test_size=.25)

In [19]:
train_predictors=train[['Recencia','Tickets','Monto']]
train_R=train[['R']]
train_F=train[['F']]
train_M=train[['M']]

test_predictors=test[['Recencia','Tickets','Monto']]
test_R=test[['R']]
test_F=test[['F']]
test_M=test[['M']]

In [ ]:
estimador=SVR(kernel='linear')
for i in range(1,len(predictors.columns.values)+1)
    selector=RFE(estimador,i,step=1) #El 2 representa el numero de variables que queremos para el modelo predictivo
    selector=selector.fit(train_predictors,train_R)